button {
  border-radius: 12px;
  padding: 12px 24px;
  border: 1px solid transparent;
  color: #fff;
  background: #000;
  font-weight: 600;
}

a {
  color: #000;
  text-decoration: none;
}
.active {
  color: red;
}

.kich-hoat {
  color: pink;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4;
  label {
    font-size: 18px;
  }
  input {
    height: 30px;
    border-radius: 5px;
  }
}
